<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
    <title>3era entrega final</title>
</head>
<body>   
    <div class="navbar navbar-light bg-primary">
        <h3>Bienvenido!!</h3> <hr> <span></span> <hr>
        <form class="d-flex" action="/login" method="POST">
            <input class="form-control me-2" type="search" placeholder="Usuario" aria-label="Search" name="username">
            <input class="form-control me-2"  placeholder="Contraseña" aria-label="Search" name="password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
             
    </div> 
    <div class="navbar navbar-light bg-primary">
        <div class="row"><h3>No estas registrado?</h3> <hr> <span></span> <hr> <a style="background-color: greenyellow;" href="http://localhost:8080/formulario">has click aqui</a></div>        
    </div> 
</body>
</html>