<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
            <th>Actualizado</th>
        </tr>
        <%productos.forEach(function(p) {%>
            <tr>
                <td>
                    <%=p.title%>
                </td>
                <td>
                    <%=p.price%>
                </td>                
                <td>
                    <img width="50" src=<%=p.thumbnail%> alt="not found">
                </td>
                <td>
                    <%=p.actualizado%>
                </td> 
            </tr>
            <%});%>
    </table>

   

</div>