 
</div>
<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>INGRESA TUS DATOS</h1>
<form action="/login" method="get">
        Usuario: <input type="text" name="nick"> Password: <input type="text" name="password">       
        <button class="">Enviar</button>
</form>
    </div>
</div>



