<div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Ingrese datos</h1>
                <br>

                <form action="/productos/agregar/articulo" method="POST">
                {{!-- <form onsubmit="addProducto()"> --}}

                    <div class="form-group">
                        <label for="title"><b>title:</b></label>
                        <input id="title" class="form-control" type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label for="price"><b>price:</b></label>
                        <input id="price" class="form-control" type="text" name="price">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail"><b>thumbnail:</b></label>
                        <input id="thumbnail" class="form-control" type="text" name="thumbnail">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail"><b>descripcion:</b></label>
                        <input id="thumbnail" class="form-control" type="text" name="descripcion">
                    </div>


                    <button class="btn btn-success mt-3 mb-5">Enviar</button>
                </form>
            </div>
</div>
